{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Arquivos Javascript remoto-->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

  <!--Arquivos CSS remotos-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

  <!--Arquivos CSS locais-->
  <link rel='stylesheet' type='text/css' href="{% static 'css/topnav.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'css/post_list.css' %}">

</head>

<body>
  <!--Menu superior-->
  <ul class="topnav">
    <li class="active"><a href="{% url 'trippin_post' %}">Postar</a></li>
    <li><a href="{% url 'post_list' %}">Timeline</a></li>
    {% if request.user %}
    <li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
    {% endif%}
  </ul>

  <!--Titulo e logo-->
  <div>
    <h1>
      <br>
      <img src="{% static 'img/logo_blue.png' %}" style="width:10%" >
      <br>
      Lista de Posts
    </h1>
  </div>

  <!--Tabela-->
  <div class="lista">
    <table class="display" id="processos">
      <!--Cabecalho-->
      <thead>
        <tr>
          <th>Post</th>
          <th>Autor</th>
          <th>Data de Criação</th>
        </tr>
      </thead>

      <!--Resto da tabela-->
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.author }}</td>
          <td>{{ post.text }}</td>
          <td>{{ post.created_date }}</td>
          <td>
            <a class="editar" title="Editar" data-toggle="tooltip"><i class="material-icons">edit</i></a>
            <a class="deletar" title="Deletar" data-toggle="tooltip" href="delete/{{ post.id }}" onclick="return confirm('Tem certeza que deseja deletar esse processo?')" id = '{{ post.id }}'><i class="material-icons">&#xE872;</i></a>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

<script type='text/javascript'>
  $(document).ready(function()
  {
    // Plugin para formatar data e ordenar por data:
    $.fn.dataTable.moment( 'DD/MM/YYYY' );

    // Plugin DataTables:
    $('#processos').DataTable(
    {
      dom: 'Bfrtip',
      // Define quantidade de processos por pagina:
      "pageLength": 50,

      // Define a ordem padrao da tabela:
      "order": [[ 5, "desc" ]],

      // Configuracoes padroes da tabela:
      columnDefs:
      [
        // Por padrao, esconde as 3 primeiras colunas:
        {
          visible: false,
          targets: [ 0, 1, 2, 6 ],
        },

        // Retira a coluna "Acoes" do botao "Column visibility":
        {
            targets: 7,
            className: 'noVis'
        }
      ],

      // Configuracao dos botoes da tabela:
      buttons:
      [
        // Botao de "Column visibility":
        {
          extend: 'colvis',
          columns: ':not(.noVis)',
        },

        // Botao de "Copy":
        {
          extend: 'copyHtml5',
          exportOptions:
          {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
          }
        },

        // Botao de "Excel":
        {
          extend: 'excelHtml5',
          exportOptions:
          {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
          }
        },

        // Botao de "CSV":
        {
          extend: 'csvHtml5',
          exportOptions:
          {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
          }
        },

        // Botao de "PDF":
        {
          extend: 'pdfHtml5',
          exportOptions:
          {
            columns: [ 0, 1, 2, 3, 4, 5, 6 ]
          }
        },
      ]
    } );
  } );
</script>
</html>