{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Arquivos Javascript remoto-->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!--Arquivos CSS remotos-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!--Arquivos CSS locais-->
  <link rel='stylesheet' type='text/css' href="{% static 'css/topnav.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'css/trippin_post.css' %}">
</head>

<body>
  <!--Menu superior-->
  <ul class="topnav">
    <li class="active"><a href="{% url 'trippin_post' %}">Postar</a></li>
    <li><a href="{% url 'post_list' %}">Timeline</a></li>
    {% if request.user %}
    <li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
    {% endif%}
  </ul>

  <!--Titulo e logo-->
  <div>
    <h1>
      <br>
      <img src="{% static 'img/logo_blue.png' %}" style="width:10%" >    
      <br>
      Cadastro de Usuários
    </h1>
  </div>

  <!--Formulario de cadastro de usuario-->
  <form class="form" method="POST">
    <ul>
      <h2>
        Oi
      </h2>

      {% csrf_token %}
      {{ form.as_p }}

      <li>
        <input type="text" class="field-style field-full align-none" placeholder="Username" name="human_username" required>
        <input type="text" class="field-style field-full align-none" placeholder="Adress" name="human_adress" required>
        <input type="text" class="field-style field-full align-none" placeholder="Birthday" name="human_birthday" required>
        <input type="text" class="field-style field-full align-none" placeholder="Email" name="human_email" required>
        <input type="password" class="field-style field-full align-none" placeholder="Password" name="human_password" required>
      </li>

      {% csrf_token %}

      <li>
        <input type="submit" value="Post" name="register"/>
      </li>

    </ul>
  </form>
</body>
</html>