{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Arquivos Javascript remoto-->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!--Arquivos CSS remotos-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!--Arquivos CSS locais-->
  <link rel='stylesheet' type='text/css' href="{% static 'css/topnav.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'css/trippin_post.css' %}">
</head>

<body>
  <!--Menu superior-->
  <ul class="topnav">
    <li class="active"><a href="{% url 'trippin_post' %}">Postar</a></li>
    <li><a href="{% url 'post_list' %}">Timeline</a></li>
    {% if request.user %}
    <li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
    {% endif%}
  </ul>

  <!--Titulo e logo-->
  <div>
    <h1>
      <br>
      <img src="{% static 'img/logo_blue.png' %}" style="width:10%" >    
      <br>
      Cadastro de Pontos turísticos
    </h1>
  </div>

  <!--Formulario de cadastro de processos-->
  <form class="form" method="POST">
    <ul>
      <h2>
        É nois!
      </h2>

      {% csrf_token %}
      {{ form.as_p }}

      <li>
        <input type="text" class="field-style field-full align-none" placeholder="Username" name="attraction_name" required>
        <select type="text" class="field-style field-full align-none" placeholder="Adress" name="attraction_adress" required>
          <option value="">Código da Cidade</option>
          <option value='{"lat": 41.397158,"long": 2.160873}'>BCN</option>
        </select>
        <input type="text" class="field-style field-full align-none" placeholder="Business Hours" name="attraction_business_hours" required>
        <input type="text" class="field-style field-full align-none" placeholder="Phone Number" name="attraction_phone_number" required>
        <input type="text" class="field-style field-full align-none" placeholder="Email" name="attraction_email" required>
        <input type="password" class="field-style field-full align-none" placeholder="Password" name="attraction_password" required>
      </li>

      {% csrf_token %}

      <li>
        <input type="submit" value="Post" name="register"/>
      </li>

    </ul>
  </form>
</body>
</html>